extends layout

block content
  h1=title

  form.login(method='POST')
    section.form-inputs 
      ul.form-fields
        li
          label(for='username') Username:
          input#username.form-control(type='text' name='username' required value=(undefined===user ? '' : user.username) )
        li
          label(for='password') Password:
          input#password.form-control(type='password' name='password' required)
    
    section.form-submit
      button.btn.btn-primary(type='submit') Submit

  if messages.error
    p #{messages.error}
  
  if errors
    ul
      for error in errors
        li!= error.msg